*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
}

.left-section{
    height : 200vh;
    background-color: #201E43;
    width: 300px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 4px solid #508C9B;
    gap: 20px;
}

.left-section-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    gap: 20px;
    width: 280px;
    height: 115%;
}

.Right-section{
    height: 200vh;
    background-color: #EEEEEE;
    width: 930px;
    margin-right: 50px;
}

.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 35px;
    border: 3px solid #508C9B;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px #508C9B;
    background-image: url("myPic.jpeg");
}

.name{
    color: #eeeeee;
    font-family: math;
    text-decoration: overline;
    border-bottom: 3px solid #eeeeee;
    font-size: xxx-large; 
}

.my-self{
    text-align: center;
    color: aliceblue;
    font-size: small;
    font-family: sans-serif;
}

.crft-heading{
    color: #ededed;
    text-decoration: underline;

}

.crft-pera{
    text-align: center;
    color: aliceblue;
    font-size: small;
    font-family: sans-serif;
}

.crft-pera b {
    font-size: large;
}

.crft-pera2{
    color: #e8e8e8;
    font-size: small;
}

.right-heading1{
    text-align: center;
    margin: 0 20px;
    margin-top: 20px;
    border: 2px solid #201e43;
    box-shadow: 2px 2px 10px #201e43;
    font-family: math;
}

.right-heading2{
    margin: 20px 0 20px 10px;
    background: #508c9b;
    display: inline-block;
    padding: 5px;
    border: 0.5px solid black;
    box-shadow: 5px 5px 5px #201e43;
    border-radius: 12px;
    font-family: math;
}

.Right-section p{
    margin: 20px;
    font-size: medium;
    font-family: sans-serif;
}

ul li{
    margin: 20px;
    font-size: medium;
    font-family: sans-serif;
    margin-left: 40px;
}

button{
    margin-left: 400px;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color: #201e43;
    color: #ececec;
    border: 3px solid #508b9a;
    cursor: pointer;
    transition: all 1s ease-out;
}

button:hover{
    background-color: #508b9a;
    transition: all 1s ease-in;
    border:3px solid #201E43;
}

#skills {
    display: none;
}