body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #161D6F;
}

form {
    margin: auto;
    background-color: #98DED9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
    box-shadow: 0px 0px 20px white;
}

h1 {
    text-align: center;
    color: #C7FFD8;
    border: 3px solid #C7FFD8;
    margin: 30px 300px;
}

fieldset {
    border: 2px solid #161D6F ;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #C7FFD8;
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid skyblue;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: #161D6F ;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease-in;
}

button :hover {
    color: rgb(103, 158, 108);
    font-size: 600;
    transition: all 1s ease-out;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    background-color: #98DED9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: black;
}
